/* @import url(reset.css); */
@import url(grid.css);

/* testing purposes to see outline */
/* [class*="col-"] {
    border: 2px solid red;
} */

nav {
    font-family: 'Libre Baskerville', serif;
}

nav a {
    text-decoration: none;
}

nav::after {
    content: "";
    clear: both;
    display: block;
    /* padding-bottom: 20px; */
}

nav .navigation-bar {
    width: 100%;
    background: rgb(158, 5, 229);
    /* background: rgb(25, 114, 232); */
    min-height: 40px;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.24), 0 1px 2px rgba(0, 0, 0, 0.48);
}

.navigation-bar #navigation-container {
    height: 40px;
}

#navigation-container .img-wrapper {
    margin: 0;
    padding: 0;
}

#navigation-container .img-wrapper:hover {
    transform: none;
}

#navigation-container .img-wrapper img {
    float: none;
}

img[alt="BU logo"] {
    height: 40px;
}

#navigation-container ul {
    height: 100%;
    width: 100%;
    background: rgb(158, 5, 229);
    text-align: center;
}

#navigation-container li {
    /* margin-bottom: 7px; */
    display: inline-block;
    height: 100%;
    padding: 2px;
    background: rgb(158, 5, 229);
}

#navigation-container li:hover {
    background: rgb(167, 69, 233);
    transform: none;
}

#navigation-container a {
    color: rgb(240, 240, 240);
}

@media only screen and (min-width: 768px) {
    
    nav .navigation-bar {
        min-height: 70px;
    }

    .navigation-bar #navigation-container {
        height: 70px;
    }

    img[alt="BU logo"] {
        height: 70px;
    }
    
    #navigation-container li {
        padding-top: 23px;
        padding-bottom: 23px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    #navigation-container li:hover {
        transform: translateY(-2px);
    }

    /* custom width */
    #navigation-container .row .col-1#course_eval {
        width: 11.4%;
        min-width: 93px;
    }
}

footer {
    /* background-color: #0099cc; */
    color: black;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 5%;
}