body {
  background-color: blanchedalmond;
}

.auto-slider{
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  padding: 10px 10px 20px;
  background: #fff;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  animation: 25s sliding ease infinite; 
}

/* Slider indicator */
.indicator{
  width: 100%;
  max-width: 720px;
  height: 6px;
  background: #e41b17;
  position: absolute;
  bottom: 0;
  animation: indicating 5s ease infinite; 
  
}

@keyframes sliding{
  0%{left: 0%; }
  20%{left: -100%;}
  40%{left: -200%;}
  60%{left: -300%;}
  80%{left: -400%;}
  100%{left: 0%;}
}        

@keyframes indicating{
  from{
      left: -100%;
  }
  to{
      left: 0;
  }
}  