@import url('https://fonts.googleapis.com/css?family=Aref Ruqaa');

.container_album {
    display: grid;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-template-columns: 200px 200px 200px;
    justify-content: space-evenly;
}

/* 
 * Polaroid Originals measures
 * 7.894 x 7.6801 cm (photo area)
 * 10.752 x 8.847 cm (total area) 
 */
.container_album .polaroid {
    position: relative;
    width: 221px;
    height: 268.75px;
    margin: 1rem;
    background-color: rgba(245, 245, 245);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    transition: all .2s linear;
    cursor: pointer;
}

.polaroid:hover {
    box-shadow: 0 8px 16px 0 rgba(152, 3, 221, 0.918), 0 12px 40px 0 rgba(152, 3, 221, 0.918);
    transform: translate3D(0, -2px, 0);
}

.polaroid .film_wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 192px;
    height: 197.25px;
    background: rgb(10, 10, 10);
}

.film_wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 192px;
    max-height: 197.25px;
    width: auto;
    height: auto;
}

.polaroid .caption {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-family: 'Aref Ruqaa', cursive;
    text-align: center;
}
