nav .navigation-bar {
    position: relative;
    width: 100%;
    min-height: 80px;
    padding: 5px 15px;
} 

/*
video {
    max-width: initial;
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}
*/

body {
    background: #0B527A;
    background: -webkit-radial-gradient(circle farthest-corner at center center, #0B527A 0%, #CCCCCC 50%, #187187 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, #0B527A 0%, #CCCCCC 50%, #187187 100%);
    background: radial-gradient(circle farthest-corner at center center, #0B527A 0%, #CCCCCC 50%, #187187 100%);
}

#portfolio {
    font-family: 'Aref Ruqaa', serif;
    text-align: center;
    margin-top: 60px;
    color: black;
}
h1, h3, h4 {
    display: inline-block;
    padding-bottom: 10px;
}

.container {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fluid {
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 

.card {
    position: relative;
    display: inline-block;
    direction:inherit;
}

.card-head {
    margin:0;
    width: 100%;
    /*margin-bottom: 17px;*/
    display: inline-block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    text-align: center;
}

.img {
    perspective: 3000px;
    width: 100px;
    height: 150px;
    position: absolute;
    left: 50%;
    top:50%;
    transition:all 0.3s ease;
}

.card-head:hover img {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}

.card-body {
    color: inherit;
    box-shadow: none;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.card-body p {
    font-size: 18px;
}

a {
    text-decoration: underline;
    color: whitesmoke;
}