.profile_card {
    display: block;
}

.profile_card .hint {
    margin-top: 15px;
    text-align: center;
    animation: 2s pulse 10;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }
}

.container_profile_card {
    position: relative;
    margin: 20px auto;
    height: 250px;
    width: 500px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(189, 194, 193, 0.877),
        0 6px 20px 0 rgba(189, 194, 193, 0.877);
}

.container_profile_card .card {
    position: relative;
    height: 250px;
}

.card:hover .hidden_card {
    display: block;
    top: 0;
    left: 0;
    background: rgba(158, 14, 194, 0.877);
    color: rgba(0, 0, 0, 0.877);
}

.card_left img {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    height: 100%;
    width: auto;
    float: left;
    transition: all 0.8s;
}

.card_left .hidden_card {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
    padding: 3% 4%;
    background: rgba(116, 7, 219, 0.877);
    color: rgba(255, 255, 255, 1);
    transition: all 0.5s ease-in-out;
}

.hidden_card .name {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
}

.hidden_card .title {
    margin: 0;
    margin-right: 10px;
    padding: 0 0 13px 0;
    width: 90%;
    font-size: 13px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/*
.hidden_card .title span {
    position: absolute;
    top: 55px;
    right: 20px;
}
*/

.hidden_card hr {
    font-size: 8px;
    color: rgba(255, 255, 255, 0.8);
}

.hidden_card .description {
    padding-top: 13px;
    font-size: 14px;
    line-height: 20px;
}

.card_right {
    position: absolute;
    left: 50%;
    width: 50%;
    height: inherit;
    padding: 20px 20px 20px 30px;
    background: rgb(5, 132, 216);
    color: whitesmoke;
    font-family: 'Aref Ruqaa', serif;
}

.right_wrapper .row {
    padding: 4.5px;
}

.right_wrapper .name {
    font-size: 20px;
    font-weight: 700;
    margin: 20px auto;
    padding-left: 10px;
}

.right_wrapper img {
    height: 20px;
}

.right_wrapper .link {
    font-size: 15px;
}

.link a {
    text-decoration: underline;
    color: rgb(200, 200, 200);
}

.right_wrapper .col-3 {width: 25%;}
.right_wrapper .col-9 {width: 75%;}
.right_wrapper .col-12 {width: 100%;}
