@import url(typography.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url(../../assets/img/coding.jpg);
    font-family: 'Viaoda Libre', serif;
    font-weight: 600;
    color: #414141;
    font-size: 15px;
    line-height: 26px;
    padding-bottom: 50px;
}


iframe {
    width: 100%;
    height: 100%;
}

.container {
    display: none;
}

@media only screen and (min-width: 768px) {

    iframe {
        display: none;
    }

    .container {
        display: block;
        max-width: 700px;
        background: #ffffff;
        margin: 0px auto 0px;
        box-shadow: 1px 1px 2px #d9d9d9;
        padding: 40px;
        margin-top: 50px;
    }

    .clear {
        clear: both;
        margin-bottom: 20px;
    }

    .align-right {
        text-align: right;
    }

    .header {
        margin-bottom: 30px;
    }

    .header .full-name {
        font-size: 40px;
        text-transform: uppercase;
        text-shadow: 4px 4px 4px #eeeeee;
        margin-bottom: 5px;
    }

    .full-name .first-name {
        font-weight: 600;
    }

    .full-name .first-name::after {
        content: "  "
    }

    .full-name .last-name {
        font-weight: 400;
    }

    .header .contact {
        margin-bottom: 20px;
    }

    .header .email,
    .header .phone,
    .header .website {
        color: #999999;
        font-weight: 300;
    }

    .header .separator {
        height: 10px;
        display: inline-block;
        border-left: 2px solid #999999;
        margin: 0px 10px;
    }

    .header .position {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        text-decoration: underline;
    }

    #education,
    #skills,
    #experience {
        margin-bottom: 40px;
        line-height: 20px;
    }

    section .title {
        letter-spacing: 2px;
        color: #54AFE4;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    section .ele {
        margin-bottom: 20px;
    }

    section .ele:last-of-type {
        margin-bottom: 0px;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
    }

    #education .name,
    #skills-categories,
    #experience .job-title {
        font-weight: bold;
    }

    #education .degree {
        font-style: oblique;
    }

    #education .courses,
    .list-pad {
        padding-left: 1em;
        font-size: 12px;
    }

    #education .courses {
        display: inline-block;
        flex-wrap: wrap;
        font-size: 11.6px;
    }

    #education .courses li,
    .list-pad li {
        list-style-position: inside;
        list-style-type: disc;
        margin-right: 1em;
    }

    #education .courses li {
        float: left;
    }

    #skills-items .col-3,
    #skills-items .col-6 {
        padding: 0 4px;
        font-size: 12px;
    }

    footer,
    footer a {
        color: #ffffff;
    }
}