@import url(https://fonts.googleapis.com/css?family=Aref+Ruqaa:300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Viaoda+Libre:300,400,500,700,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=PT+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:300,400,500,700,900&display=swap);
